<div class="container">
    <div class="background">
        <div class="tela-login">
            <h1>Tela Login</h1>
            <inputText [placeholder]="'Usuario'" (valueChanged)="username = $event"></inputText>
            <inputText [type]="'password'" [placeholder]="'Senha'" (valueChanged)="password = $event"></inputText>
            <button class="btn-login" (click)="login()">Login</button>
            <button class="rec-senha">Recuperar Senha</button>
            <button class="cria-conta">Criar Conta</button>
        </div>
    </div>
</div>